# Golang CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-go/ for more details
version: 2
jobs:
  build:
    docker:
      # specify the version
      - image: circleci/golang:1.14
    steps:
      - checkout
      # specify any bash command here prefixed with `run: `
      - run: go get -v -t -d ./...
      - run: go test -coverprofile=c.out -v ./...
      - run: go tool cover -html=c.out -o coverage.html
      - run: gotestsum --junitfile unit-tests.xml
      - run: mv coverage.html /tmp/artifacts
      - run: mv unit-tests.xml /tmp/test-results/unit-tests.xml
      - store_artifacts:
          path: /tmp/artifacts
      - store_test_results:
          path: /tmp/test-results
